@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf); 
}
@font-face {
    font-family: Roboto-Medium; 
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-Regular; 
    src: url(fonts/Roboto-Regular.ttf); 
}   
body{
	color: #fff;
	font-family: Roboto-Regular;
}
.pt-4, .py-4 {
    padding-top: 0rem!important;
}
.nav_stl{
	background-color: #16629b;
}
.cont_stl{
	background-color: #155985; 
}
.word_stl{
	font-family: Roboto-Regular;
	font-size: 14px;
}
.word_stl2{
	font-family: Roboto-Medium;
	font-size: 14px;
}
.word_stl3{
	font-family: Roboto-Bold;
	font-size: 14px;
} 
.nav_head{
	color: #76b2d7 !important;
}
.nav_head:hover {
	color: #fff !important;
}
.drop_lk{
	color: #fff !important;
}
.drop_stl{
	width: 280px;
    height: 385px;
    margin-top: 7px;
    margin-left: -60px;
}
.login_but{
	color: #fff;
	background: #dc3c3e;
	font-family: Roboto-Bold;
	font-size: 15px;
    height: 50px;
}
.lk_in{
	color: #444853;
	font-size: 20px;
}
.bor_f{
	background: #e7e7e7;
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 16px;
    width: 30px;
    height: 30px;
    margin-left: -30px;
    padding-left: 0px;
    padding-top: 0px;
}
.bor_vk{
	background: #e7e7e7;
	border: 2px solid transparent;
    border-radius: 50%;
    font-size: 16px;
    width: 30px;
    height: 30px;
    margin-left: -35px;
    padding-left: 1px;
    padding-top: 1.5px;
}
.bor_f:hover{
	background: #1d75b3;
}
.soc_ico{
	color: #a6adb5;   
}
.bor_vk:hover{
	background: #1d75b3; 
}
.bor_f:hover > .soc_ico, .bor_vk:hover > .soc_ico{
	color:#fff;
}
.r{
	background: #e8a8a8;
	border: 1px solid #000;
	height: 425px;
}
.c{
	background: #1f77b2;height: 500px; text-align: center;
}
.child{
	background: #1f77b2;height: 100px; text-align: center;
}
.t{
	height: 200px; text-align: center; background: #ddd; color: #000; border: 1px solid #000;
}
.t:nth-child(even){
	background: #eee;
}
.mt10{
	margin-top: 10px;
}
.times_stl{
	font-family: Roboto-Bold;
	font-size: 18px;
	color: #444853;
}
.times_stl:hover{
	text-decoration:none;
	color: #444853;
}
.login_inp{
	border: 1px solid #e0e1e6;
	height: 50px;
}
.fast_in{
	color: #444853;
	font-size: 16px;
}
.foget_pass{
	color: #9ba3a5;
    text-decoration: underline;
}
.fpass{
	margin-top: 10px;
	margin-bottom: 10px;
}
.register_but{
	font-family: Roboto-Medium;
	color: #3c4154;
	font-size: 15px;
}
.register_but:hover{
	color: #3c4154;
}
.mr15{
	margin-right: 15px;
}
.mr8{
	margin-right: 8px;
}
.ml5{
	margin-left: 5px;
}
.mrml335{
    margin-right: 3px;
	margin-left: 35px;
}
.ico_size{
	font-size: 18px;
}
.nav_main{
	font-family: Roboto-Bold;
	font-size: 15px;
	color: #fff !important;
}
.active_link{
	color: #9adcf9 !important;
}
.nav_main:hover{
	text-decoration: none;
	color: #9adcf9 !important;
}
.nav_main:active, .nav_main:focus{
	text-decoration: none;
	color: #9adcf9 !important;
}
.logo1{
	color: #fff;
	font-family: Roboto-Bold;
	font-size: 15px;
}
.logo2{
	color: #fff;
	font-family: Roboto-Regular;
	font-size: 15px;
}
.logo_hov:hover{
	text-decoration: none;
}
.mt15{
	margin-top: 15px;
}
.mt25{
	margin-top: 25px;
}
.mt40{
	margin-top: 60px;
}
.inp_search{
	height: 75px;
}
.big_text{
	font-family: Roboto-Bold;
}
.big_days{
	font-family: Roboto-Bold;
	font-size: 50px;
}
.foot{
	background: #fff;
	height: 490px;
}
.more_info{
	font-family: Roboto-Bold;
	font-size: 15px;
	color: #fff;
}
.more_info:hover{
	text-decoration: none;
	color: #fff;
}
.big_text2{
	color: #9ee9fc;
	font-size: 15px;
}
.but_set_up{
	margin-left: 15px;
	font-family: Roboto-Bold;
	color: #fff;
	background: transparent;
	border: 1px solid #2889c4;
	height: 50px;
	width: 200px;
	font-size: 16px;
}
.but_set_in{
	font-family: Roboto-Regular;
	height: 50px;
	width: 75px;
	font-size: 16px;
}
.days_stl{
	background: #2785b9;
    border-radius: 5px;
}
.days_date{
	margin-top: 5px;
	font-size: 15px;
	color: #d5fdfe;
}
.fake_hr{
	margin-top: 25px;
    border: 0.3px solid #0000001f;
    width: 100%;
}
.soc_icon_foot{
	color: #a1a8b0;
    font-size: 25px;
    margin-left: 22px;
}
.ok_hov:hover{
	color: #f89406;
}
.h100{
	height: 100px;
}
.title_foot{
	font-family: Roboto-Medium;
	color: #1b1b1b;
	font-size: 20px;
}
.content_foot{
	color: #636771;
}
.content_foot:hover{
	text-decoration: none;
}
.mt50{
	margin-top: 50px;
}
.ml-15{
	margin-left: -15px;
}
.logo_poz{
	margin-top: 25px;
    margin-left: -15px;	
}